airdrop-ng==1.1
airgraph-ng==1.1
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
arandr==0.1.10
argcomplete==1.12.1
attrs==21.2.0
autotiling==1.5
Babel==2.9.1
backports.csv==1.0.7
Beaker==1.11.0
beautifulsoup4==4.9.3
Brlapi==0.8.2
btrfsutil==5.13
CacheControl==0.12.6
cachy==0.3.0
cffi==1.14.6
chardet==4.0.0
cleo==0.7.6
cli-helpers==2.1.0
click==7.1.2
clikit==0.6.2
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
crashtest==0.3.1
cryptography==3.4.7
decorator==5.0.9
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docutils==0.17.1
entrypoints==0.3
filelock==3.0.12
future==0.18.2
fuzzywuzzy==0.18.0
greenlet==1.1.0
html5lib==1.1
httpie==2.4.0
i3ipc==2.2.1
idna==3.2
imagesize==1.2.0
importlib-metadata==4.6.1
importlib-resources==5.1.2
iotop==0.6
isc==2.0
jeepney==0.7.1
Jinja2==3.0.1
jsonschema==3.2.0
keyring==23.0.1
lark-parser==0.11.3
libfdt==1.6.1
lit==12.0.1.dev0
lockfile==0.12.2
louis==3.18.0
lxml==4.6.3
Mako==1.1.4
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
meld==3.20.3
meson==0.59.0
miniupnpc==2.0.2
more-itertools==8.8.0
msgpack==1.0.2
mycli==1.24.1
namcap==3.2.10
nftables==0.1
numpy==1.20.3
OpenCC==1.1.2
ordered-set==4.0.2
packaging==20.9
pandas==1.2.2
pastel==0.2.0
pep517==0.11.0
pexpect==4.8.0
pkginfo==1.7.1
platformdirs==2.0.2
ply==3.11
poetry==1.1.7
poetry-core==1.0.3
progress==1.5
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py3status==3.38
pyaes==1.6.1
pyalpm==0.10.6
pycairo==1.20.0
pycparser==2.20
pycryptodomex==3.10.1
pyelftools==0.27
Pygments==2.9.0
PyGObject==3.40.1
pylev==1.4.0
PyMySQL==1.0.2
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.1
python-xlib==0.31
pytz==2021.1
PyYAML==5.4.1
ranger-fm==1.9.3
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
scipy==1.6.1
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
snowballstemmer==2.1.0
soupsieve==2.2
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.3.1
tabulate==0.8.9
team==1.0
termcolor==1.1.0
terminaltables==3.1.0
tldr==2.0.0
toml==0.10.2
tomli==1.2.0
tomlkit==0.7.2
tornado==6.1
ufw==0.36
urllib3==1.26.6
virtualenv==20.7.0
wallstreet==0.3
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.5.0
