appdirs
arandr
attrs
CacheControl
chardet
colorama
decorator
distlib
distro
future
greenlet
html5lib
httpie
idna
isc
libvirt-python
lit
lockfile
Markdown
meson
msgpack
mutagen
namcap
netease-cloud-music-dl
NetEase-MusicBox
numpy
packaging
pep517
Pillow
progress
protobuf
psutil
py3status
pyalpm
pycairo
pycryptodomex
pyelftools
Pygments
PyGObject
pynvim
pyparsing
pytoml
PyYAML
ranger-fm
requests
requests-cache
retrying
six
slip
slip.dbus
team
termcolor
tldr
tornado
ufw
urllib3
webencodings
